@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #69dc59;
    transition: background 0.3s ease;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3d3e3d;
  }

  
.database{
  position: absolute;
  left: 43vw;
  display: flex;
  top: 2vh;
}